@import "reset-css";

@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap");

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.animate-spin {
  animation: spin 1s linear infinite;
}
